@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lexend+Deca&family=M+PLUS+1:wght@100&family=Mochiy+Pop+P+One&family=Montserrat:wght@100;700&family=Nunito:wght@600&family=Open+Sans&family=Outfit:wght@500&family=Ubuntu:ital,wght@0,300;1,300;1,700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

.firstpage {
  background: linear-gradient(134deg, #ffca2f, #49346c,#420640,#3d2e7a, #a3629bfc,#ffab2d);
  background-size: 400% 400%;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}
.firstflex{
display: flex;
}
.firstpageheight{
height: 700px;
}
.firstpagetext {
  padding-left: 20%;

}
.hackName {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 131px;
  color: white;
  text-align: center;
  margin-top: 10%;
}
.hackDescription {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-top: -3%;
  color: #dfdfdf;
  font-weight: 900;
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke-width: .9px;
  -webkit-text-stroke-color: white;
  margin-bottom: 7px;
  text-align: center;
}
.hackabout {
  padding-left: 25%;
  margin-right: 50px;
  color: white;
  text-align: center;
}
.aboutnum{
  color: white;
}
.firstpagebutton {
  margin-left: 42%;
  background: #00ad45;
  border: #3a020200;
  font-size: large;
  border-radius: 30px;
  border-style: solid;
  border-color: #00ff68;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  color: white;
  text-shadow: -1px -4px 20px #011a0e;
}
.firstpagebutton2 {
  color: white;
  margin-left: 31px;
  background: #ffffff00;
  font-size: large;
  border-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-top-color: #e3e1e196;
  border-bottom-color: #e3e1e196;
  border-right-color: #e3e1e196;
  border-left-color: #e3e1e196;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.whitetxt {
  color: white;
  text-decoration: none;
}
.launchpage {
  background: linear-gradient(2deg, #363036, #363036,#363036, #363036);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 10s ease infinite;
}
.launchtitle {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 75px;
  margin-bottom: 16px;
  text-align: center;
}
.launchtext{

    /* border-style: solid; */
    /* border-radius: 8px; */
    /* border-color: #6d0080; */
    /* background: linear-gradient(300deg, #c7b4ff, #a5bbff,#eac2f1, #ac81f1); */
    /* background-size: 100% 100%; */
    /* animation: Gradient 10s ease infinite; */
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    color: white;
    text-align: center;
    padding-left: 49px;
}

.launchpagebutton {
  /* margin-left: 42%; */
  background: #00ad45;
  border: #3a020200;
  font-size: large;
  border-radius: 30px;
  border-style: solid;
  border-color: #00ff68;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  color: white;
  text-shadow: -1px -4px 20px #011a0e;
}
.launchside{
  display: flex;
}
.launchchart{
    padding-right: 50px;
    transform: perspective(1000px) rotateY(335deg);
    width: 578px;

}
/* .launchwallet {
  width: 335px;
  position: relative;
  z-index: 1;
  right: 16px;
  top: 30px;
  transform: perspective(181px) rotateY(355deg);
} */
element.style {
  color: whitesmoke;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 75px;
  margin-bottom: 15px;
}

.submitflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submitpage {
  background: linear-gradient(308deg, #ffcb2fa6, #4a346c8f,#42064077,#3d2e7a9f, #a3629b96,#ffab2d94);
  background-size: 400% 400%;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}


.subflex {
  display: flex;
  flex-direction: row;
  background: rgb(29, 28, 31);
  border-radius: 30px;
  width: 80%;
  height: 92%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-left: 9%;
  padding-top: 32px;
}
.subfleximage {
  margin: 10px;
  display: flex;
  margin-top: 57px;
}
.subflexform {
  margin: 30px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.col {
  margin: 12px;
}
.subforum {
  color: white;
  font-size: larger;
}

.thumbnails img {
  border-radius: 10px;
}
.thumbnails > img {
  border-radius: 10px;
}
.submitTitle {
  color: white;
  font-family: 'Outfit', sans-serif;
  font-size: 64px;
  position: absolute;
  margin-top: -30px;
}

.submitpagebutton {
  margin-left: 50%;
  background: #00ad45;
  border: #3a020200;
  font-size: large;
  border-radius: 30px;
  border-style: solid;
  border-color: #00ff68;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 31px;
  padding-right: 31px;
  color: white;
  text-shadow: -1px -4px 20px #011a0e;
}
