@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Lexend+Deca&family=M+PLUS+1:wght@100&family=Mochiy+Pop+P+One&family=Montserrat:wght@100;700&family=Nunito:wght@600&family=Open+Sans&family=Outfit:wght@500&family=Ubuntu:ital,wght@1,700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

.firstpage {
  background: linear-gradient(134deg, #ffca2f, #49346c,#420640,#3d2e7a, #a3629bfc,#ffab2d);
  background-size: 400% 400%;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}

.firstpagetext {
 padding-left: 25%;
 margin-top: -10%;
}
.hackName {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 107px;
    color: white;
    margin-bottom: -3%;
}
.hackDescription {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-top: 1%;
  color: #dfdfdf;
  font-weight: 700;
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  margin-bottom: -12px;
}
.hackabout {
  padding-left: 25%;
  margin-right: 50px;
  color: white;
}
.firstpagebutton {
  margin-left: 25%;
  background: #00ad45;
  border: #3a020200;
  font-size: large;
  border-radius: 30px;
  border-style: solid;
  border-color: #00ff68;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  color: white;
  text-shadow: -1px -4px 20px #011a0e;
}
.firstpagebutton2 {
  color: white;
  margin-left: 31px;
  background: #ffffff00;
  border: #3a020200;
  font-size: large;
  border-radius: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.launchpage {
  background: linear-gradient(2deg, #7c6cab, #67749b,#502e56, #19043a);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 10s ease infinite;
}
.launchtext{
    border-style: solid;
    border-radius: 8px;
    border-color: #6d0080;
    background: linear-gradient(300deg, #c7b4ff, #a5bbff,#eac2f1, #ac81f1);
    background-size: 100% 100%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 10s ease infinite;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.submitpage {
  background: linear-gradient(308deg, #ffcb2fa6, #4a346c8f,#42064077,#3d2e7a9f, #a3629b96,#ffab2d94);
  background-size: 400% 400%;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}
.subflex {
  display: flex;
  flex-direction: row;
  background: rgb(29, 28, 31);
  border-radius: 30px;
  width: 80%;
  height: 80%;
  margin: 10%;
}
.subforum{
color:white
}